%div
  %p= "Thank you!"
  ="Best Regards,"
  %br
  ="Our Cleaning Department LLP"
  %br
  %a{:href => "mailto:bookings@ourcleaningdepartment.com"} bookings@ourcleaningdepartment.com
  %br
  ="Contact us: 81263759/81263795"
  %br
  %a{:href => "www.ourcleaningdepartment.com"} www.ourcleaningdepartment.com
