#blog-info-container{
  background: image-url('bg-simple-post.jpg') repeat;
  padding: 80px 0;
  .content-text{
    padding: 50px 100px;
    background: #fff;
    .update-at{
      color:#666666;
      font-size: 16px;
    }
    h3.title{
      font-size: 24px;
      margin: 10px 0 30px 0;
      font-family: 'robotobold';
    }
  }
  .page-navigation.main-container{
    background: #fff;
    border-top:2px solid #ba2f95;
    padding: 10px 40px;
    margin-top: 30px;
    margin-bottom: 0;
    .next{
      text-align: right;
    }
    a{
      font-size: 14px;
      font-family: 'robotoregular';
      color:#ba2f95;
    }

  }
}
