.time-slots-housekeeper-container {
  table.calendar-table {

    td {
      padding: 0;
      text-align: center;
    }

    tbody {
      tr{
        th {
          padding-top:0 ;
          vertical-align: top;
        }
      }
    }

    .available {
      background-color: #5BC0DE;

      a {
        color: #5BC0DE;

        &:hover {
          color: #ffffff;
        }
      }
    }

    .booked {
      background: lightgrey;
      min-height: 35px;
    }
  }
}
