.time-slots-housekeeper-container {
  float: left;
  width: 100%;
  margin-bottom: 50px;

  table.calendar-table {
    td {
      padding: 0;
      text-align: center;
    }

    tbody {
      tr{
        th {
          padding-top:0 ;
          vertical-align: top;
        }
      }
    }

    .available {
      background-color: #7DB0AE;

      a {
        color: #ffffff;

        &:hover {
          color: #ffffff;
        }
      }
    }

    .booked {
      background: lightgrey;
      min-height: 35px;
    }
  }
}
