#bookings-index-container
  %br
  %div
    = form_tag(time_slots_path, method: :get) do
      = label_tag  :location, "Region : "
      = select_tag :location, options_for_select(@locations.collect{ |location| [location.name, location.id]}, selected: params[:location]  ) , onchange: "this.form.submit();"
  - @housekeepers.each do |housekeeper|
    = render partial: 'schedule', :locals => { :@housekeeper => housekeeper }
