#shared-flash-container{
  @extend .container;

  .notice {
    @extend .alert;
    background: #e9fcec;
    color: #1d852d;
    border: 1px solid #cae7ce;
    border-radius: 0;
    margin: 1px;
    font-family: 'robotoregular';
    font-size: 16px;
    &:before{
      @extend .fa;
      content: "\f05d";
      margin-right: 5px;
      color: #1d852d; font-size: 18px;
    }
  }

  .warning {
    @extend .alert;
    @extend .alert-danger;
    border-radius: 0;
    margin: 1px;
  }
}
