#shared-footer-container{
  width: 100%;
  background: image-url('bg_footer.jpg') repeat-x;
  padding: 20px 0 15px 0;
  #shared-footer{
    @extend .container;
    position: relative;
    ul.ul-nav{
      display: inline-block;
      margin: 0; padding: 0;
      li{
        a{
          color: #fff;
          font-family: 'robotolight';
          font-size: 13px;
        }
        padding: 0 26px 0 0;
        margin: 0;
        border: 0;
      }
    }
    .copyright{
      font-size: 11px;
      color:#abaaaa; text-align: right;
      font-family: 'robotolight';
      line-height: 25px; letter-spacing: 0.1em;
      padding-right: 0;
    }

    #back-to-top{
      cursor: pointer;
      position: absolute;
      right: 15px;
      top: -50px;
      background: #1d1c1c;
      color:#fff;
      padding: 8px 15px;
      text-decoration: none;
      font-family: 'robotolight';
      font-size: 11.5px;
      &:after{
        content: "\f0d8";
        margin-left: 5px;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate(0, 0);
      }
    }
  }
}
