#shared-mailing-list-container{
  float: left;
  width: 100%;
  margin-top: 50px;

  #shared-mailing-list{
    width: 1170px;
    margin: 0 auto;

    border-top: 1px solid #BAC5C5;
    margin-top: 20px;
    padding-top: 20px;

    h3{
      font-family: 'Abril Fatface', cursive;
      font-size: 20px;
      margin: 0;
      padding: 0;
      line-height: 30px;
    }

    .div-mailing-list{
      float: left;
      width: 100%;

      .left{
        width: 30%;
        float: left;
        background: #43273b;
        padding: 10px;
        text-align: center;
        color: #ffffff;
        height: 52px;
      }

      .right{
        float: right;
        padding: 10px;
        width: 70%;
        background: #e6d5d4;
        height: 52px;

        h3{
          float: left;
          text-align: left;
          color: #43273b;
        }

        #subscribe{
          float: right;
          width: 60%;

          #mailchimp_email{
            @extend .form-control;

            float: left;
            width: 65%;
            margin-right: 10px;
          }

          input[type='submit']{
            @extend .btn;
          }
        }
      }
    }
  }
}
