#shared-mailing-list-container{
  width: 100%;
  background: image-url('bg_mailing_list.jpg') top center no-repeat;
  background-size: cover;
  #shared-mailing-list{
    @extend .container;
    .div-mailing-list{
      text-align: center;
      margin: 25px 0;
      label{
        font-family: 'fira_sansmedium';
        font-size: 16px;
        color:#222222;
        display: inline-block;
        text-transform: uppercase;
      }
      form{
        display: inline-block;
        .div_input{
          width: 580px;
        }
      }
      #mailchimp_email{
        border: 0;
        padding: 14px 10px;
        font-family: 'fira_sansregular';
        color: #888888;
        background: #fff;
        border-radius: 4px;
        outline: none;
        margin: 0 8px 0 8px;
        box-shadow: 0px 3px 2px #ccc;
        width: 76%;
        float: left;
        line-height: 15px;
      }
      .btn-submit{
        padding: 8px 15px;
        color: #fff;
        font-size: 15px;
        text-transform: uppercase;
        background: #eb7070;
        border-radius: 4px;
        box-shadow: 0px 3px 2px #ccc;
        border: 0;
        display: inline-block;
        font-family: 'fira_sansbold';
        line-height: 28px;
      }
    }
  }
}
