#shared-main-nav-container {
  float: left;
  margin: 0;

  ul.main-nav {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    li{

      float:left;
      border-left: 1px solid #eaeaea;

      &.active a:after, a:hover:after{
        background: #ba2f95;
        bottom: 0px;
        height: 5px;
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
      }

      a{
        font-family: 'robotomedium';
        font-size: 16px;
        display: block;
        padding: 25px 18px;
        color: #43253b;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 15px;
        position: relative;
        span{
          display: block; color: #999999;
          font-size: 12px;
          font-family: 'robotoregular';
          padding-top: 5px;
        }
      }
    }
  }
}
