#shared-user-nav-container{
  padding: 32px 25px;
  margin: 0;
  float: right;
  background: #58304d;
  color:#fff;
  ul.ul-nav{
    margin: 0;
    padding: 0;
    li{
      border: 0;
      padding: 0;
      &.active a, a:hover{
        border-color:#fff;
        background: #fff; color: #58304d;
      }
      &.active{
        a.btn-bound:after{
            color: #58304d;
        }
      }
      a{
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'robotoblack';
        font-size: 14px;
        color:#fff;
        padding: 8px 20px;
        border-radius: 5px;
        border:2px solid #58304d;
        &.btn-bound{
          border-color:#fff;
          &:after{
            padding-left: 5px;
            font: normal normal normal 11px/1 FontAwesome;
            content: '\f178';
            color: #fff;
          }
          &:hover:after{
              color: #58304d;
          }
        }

      }
    }

  }
}
