#bookings-index-container
  %h1 Book a session
  %div
    =link_to 'Previous week', bookings_path(week: @week - 1), class: 'btn'
    =link_to 'Next week', bookings_path(week: @week + 1), class: 'btn'
  %table.table.table-bordered.calendar-table
    %thead
      %tr
        %th Time
        %th Monday
        %th Tuesday
        %th Wednesday
        %th Thursday
        %th Friday
        %th Saturday
        %th Sunday
    %tbody
      - day = Date.today.beginning_of_week + @week.week
      %tr
        %th
        - (0..6).each do |i|
          %th= day + i
      - booking_time_range.each do |time|
        %tr
          %th= time.strftime('%l:%M%P')
          - (0..6).each do |i|
            %td!= display_booked_slot_info(@time_slots, day + i, time)
      %tr
        %th= "10:00pm"
        %td
        %td
        %td
        %td
        %td
        %td
        %td
