#bookings-index-container
  %h1 Book a session
  %table.table.table-bordered.calendar-table
    %thead
      %tr
        %th Time
        %th Monday
        %th Tuesday
        %th Wednesday
        %th Thursday
        %th Friday
        %th Saturday
        %th Sunday
    %tbody
      - day = Date.today.beginning_of_week
      - booking_time_range.each do |time|
        %tr
          %th= time.strftime('%l:%M%P')
          - (0..6).each do |i|
            %td!= display_booked_slot_info(@time_slots, day + i, time)
      %tr
        %th= "10:00pm"
        %td
        %td
        %td
        %td
        %td
        %td
        %td
