#info-contact-container
  .bound-info-contact.row
    .col-md-6.contact
      .bound-contact
        %h4
          Our Cleaning Department
          %span (T14LL0310H)
        .desc
          10 Anson Road #32-18 International Plaza Singapore 079903
          %br
          Email : enquiries@ourcleaningdepartment.com
    .col-md-6.facebook-like
      .fb-like-box{"data-colorscheme" => "light", "data-header" => "true", "data-href" => "https://www.facebook.com/ourcleaningdepartment", "data-show-border" => "false", "data-show-faces" => "false", "data-stream" => "false"}
