%p
  Welcome #{@email}!
%br
%p
  Thank you for signing up.
%br
%p
  You can verify your email address through the link below:
%p
  = link_to 'Verify my email', confirmation_url(@resource, confirmation_token: @token)
%br
%p
  Have a great day ahead!

