- content_for(:page_desc) { @page.short_description }
- content_for(:page_image) { @page.intro_image }
#pages-info-container.has_bg
  - if @page.full_image.present?
    = render partial: 'shared/static_banner', locals: {img_url: @page.full_image.url, title: @page.title, desc: @page.intro_text}

  .content-text.main-container
    = @page.description.html_safe
