#page-categories-list-container{
  .content-text{
    margin-top: 50px;
  }
  .item{
    border: 1px solid #e0e0e0;
    margin-bottom: 20px;
    background: #fff;
    .row{
      padding: 20px;
    }
    .item-image{
      img{
        @extend .img-thumbnail;
        width: 100%;
        border: 0;
      }
    }
    .item-content{
      min-height: 120px;

      .item-title{
        font-size: 24px;
        margin: 10px 0 30px 0;
        font-family: 'robotobold';
      }
      .item-readmore{
        margin: 20px 0 0 0;
        a.readmore{
          background: #43253b;
          color: #fff; text-decoration: none;
          &:after{
            content: '';
            display: inline-block;
            background: image-url("arrow_btn_white_01.png") 0 no-repeat;
            width: 5px;
            height: 10px;
            margin-left: 5px;
          }
        }
      }
    }
  }
  .wrap-pagination{
    text-align: center;
    border-top: 2px solid #ba2f95;
    background: #fff;
    .pagination{
      display: inline-block;
      margin: 10px 0 10px 0;
      a, em, span{
        margin: 0 8px;
      }
    }
  }
}

.pagination{
  margin: 20px 0 10px 0;
}
