.page-category-container{
  .item{
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    float: left;

    .item-image{
      float: left;
      width: 15%;
      margin-right: 20px;

      img{
        @extend .img-thumbnail;
        width: 100%;
      }
    }

    .item-content{
      float: left;
      width: 80%;
      min-height: 120px;

      .item-title{
        font-size: 20px;
        margin-bottom: 20px;
      }
    }

    .item-readmore{
      float: left;
    }
  }
}
