#devise-registration-new-container {
  font-family: 'robotoregular';
  .tip-separate span{
    font-family: 'robotoregular';
    span.your{
      font-family: 'robotoblack';
      margin: 0; padding: 0;
    }
  }
  .desc-info{
    text-align: center;
    font-family: 'robotomedium';
    a.link-sign-in{
      color: #ba2f95; text-decoration: underline;
    }
  }
  .form-register-container{
    margin: 40px 0 0 0;
    .bound-form{
      width: 560px;
      margin: 0 auto;
      .input-group{
        input, textarea{
          width: 100%;
          padding: 5px;
        }
        select{
          border: 1px solid #bdbdbd;
          background: none;
          width: 100%;
          border-radius: 0;
          height: 30px;
        }
      }

      .help-block{
        color: #666666; font-size: 12px;
      }
      .control{
        text-align: center;
        .button-submit{
          margin: 20px 0 0 0;
          padding: 6px 40px;
        }
      }

      #error_explanation{
        margin-bottom: 25px;
        h2{
          font-size: 18px;
          color: red;
        }
      }
    }
  }

}
