#contact-forms-new-container{
  .contact-form{
    line-height: 20px;
    margin-top: 50px;
    p{
      margin: 0 0 20px 0;
    }
  }
  .form-fields{
    label{
      color:#222222;
    }
    input[type='text'], textarea{
      border: 1px solid #bdbdbd;
      width: 100%;
      outline: none;
      padding: 5px 6px;
      resize: none;
    }
    textarea{
      height: 160px;
    }
    .btn-submit{
      padding: 6px 30px;
      margin: 0;
    }
    table#recaptcha_table{
      width: 100%;
    }
  }
}
