#contact-forms-new-container{
  @extend .devise-registration-new-container;

  .left{
    float: left;
    width: 30%;
  }

  .right{
    float: right;
    width: 60%;

    .button-submit{
      float: right;
      margin-right: 74px;
    }
  }
  #recaptcha_area{
    height: 130px !important;
    overflow: hidden !important;
  }

  .table-text-contact{
    border-collapse: separate;
    border-spacing: 0px 10px;

    td:first-child{
      width: 40%;
    }
  }
}
