.user-nav-container{
  @extend .container;

  ul.ul-nav{
    @extend .pull-right;
  }
}

ul.ul-nav{
  margin: 10px 0 10px 0;

  li{
    list-style: none;
    float: left;
    margin-left: 10px ;
    padding-left: 10px;
    border-left: 1px solid #2a6496;
  }

  li:first-child{
    border: none;
  }

  li.active a{
    color: #2a6496;
    text-decoration: underline;
  }
}

.banner-container{
  @extend .container;
  text-align: center;
  min-height: 100px;
  background: #00b3ee;
}

.main-nav-container {
  @extend .container;

  ul.main-nav {
    @extend .nav;
    @extend .nav-pills;
    width: 450px;
    margin: 0 auto;
    padding: 10px 0 10px 0;

    li.active{
      a{
        background: #e6d5d4;
        color: #43273b;
      }

      a:hover{
        background: #e6d5d4;
      }
    }
  }
}

.main-body {
  @extend .container;
  min-height: 500px;

  .notice {
    @extend .alert;
    @extend .alert-success;
  }

  .warning {
    @extend .alert;
    @extend .alert-danger;
  }
}

.footer{
  @extend .container;
  margin-top: 20px;
  margin-bottom: 10px;
  border-top: 1px solid #428bca;
  padding-top: 10px;

  ul.ul-nav{
    margin: 0 auto;
    width: 760px;

    li{

     a{
       color: #000000;
     }
    }
  }
}

// form styling
label.required:after {
  content: " *";
}

.error{
  @extend .text-danger;
  font-size: 13px;
  font-weight: normal;
}

.clr-dashed{
  clear: both;
  height: 1px;
  border-top: 1px dashed #428bca;
}

.clr{
  clear: both;
}

a{
  color: #43273b;
}
