// form styling
label.required:after {
  content: " *";
}

.error{
  @extend .text-danger;
  font-size: 13px;
  font-weight: normal;
}

.clr-dashed{
  clear: both;
  height: 1px;
  border-top: 1px dashed #428bca;
}

.clr{
  clear: both;
}

a{
  color: #43273b;
  font-family: 'Alike Angular', serif;
}

h1{
  font-family: 'Abril Fatface', cursive;
  color: #43273b;
  font-size: 35px;
}

body, p{
  font-family: 'Alike Angular', serif;
}

.user-nav-container{
  @extend .container;

  ul.ul-nav{
    @extend .pull-right;
  }
}

ul.ul-nav{
  margin: 10px 0 10px 0;

  li{
    list-style: none;
    float: left;
    margin-left: 10px ;
    padding-left: 10px;
    border-left: 1px solid #2a6496;
  }

  li:first-child{
    border: none;
  }

  li.active a{
    color: #2a6496;
    text-decoration: underline;
  }
}

.banner-container{
  @extend .container;
  text-align: center;
  min-height: 100px;
  background: #00b3ee;
}

#shared-main-nav-container {
  @extend .container;

  ul.main-nav {
    @extend .nav;
    @extend .nav-pills;
    width: 450px;
    margin: 0 auto;
    padding: 10px 0 10px 0;

    li.active{
      a{
        background: #e6d5d4;
        color: #43273b;
      }

      a:hover{
        background: #e6d5d4;
      }
    }
  }
}

.main-body {
  @extend .container;
  min-height: 500px;

  .notice {
    @extend .alert;
    @extend .alert-success;
  }

  .warning {
    @extend .alert;
    @extend .alert-danger;
  }
}

#shared-footer-container{
  @extend .container;
  margin-top: 20px;
  margin-bottom: 10px;
  border-top: 1px solid #428bca;
  padding-top: 10px;

  ul.ul-nav{
    margin: 0 auto;
    width: 760px;

    li{

     a{
       color: #000000;
     }
    }
  }
}

#shared-mailing-list-container{
  @extend .container;

  border-top: 1px solid #428bca;
  margin-top: 20px;
  padding-top: 20px;

  h3{
    font-family: 'Abril Fatface', cursive;
    font-size: 20px;
    margin: 0;
    padding: 0;
    line-height: 30px;
  }

  .div-mailing-list{
    float: left;
    width: 100%;

    .left{
      width: 30%;
      float: left;
      background: #43273b;
      padding: 10px;
      text-align: center;
      color: #ffffff;
      height: 52px;
    }

    .right{
      float: right;
      padding: 10px;
      width: 70%;
      background: #e6d5d4;
      height: 52px;

      h3{
        float: left;
        text-align: left;
        color: #43273b;
      }

      #subscribe{
        float: right;
        width: 60%;

        #mailchimp_email{
          @extend .form-control;

          float: left;
          width: 65%;
          margin-right: 10px;
        }

        input[type='submit']{
          @extend .btn;
        }
      }
    }
  }
}

