.get_to_know_us
  .tip
    %span Get To Know Us
  - if @latest_update_blocks.count > 0
    .content-block.row
      - @latest_update_blocks.each do |block|
        .block.col-md-4
          .bound
            - if block.image.present?
              .block-image
                = image_tag(block.image.url(:thumb), border: 0)
            - if block.description
              .block-description
                = block.description.html_safe
            - if block.url.present?
              .block-url
                = link_to (block.title_link.present? ? block.title_link : 'Click here to view') , block.url, class: 'btn btn-custom-01'
