- @promotion_blocks.each do |block|
  .block-item
    .block_image
      %img{ :src => block.image.url(:thumb)}
    - if block.url
      .block-url
        = "Url : #{block.url}"
    - if block.description
      .block-descrition
        = block.description.html_safe
