- @latest_update_blocks.each do |block|
  .block-item
    - if block.image.present?
      .block_image
        %img{ :src => block.image.url(:thumb)}
    - if block.description
      .block-descrition
        = block.description.html_safe
    - if block.url.present?
      .block-url
        = link_to "Click here to view" , block.url
