%h1 Our Cleaning Department

%p Please click on the links below to start your testing:

= link_to 'Register', new_user_registration_path
= link_to 'Sign in', new_user_session_path
= link_to 'Sign out', destroy_user_session_path, method: :delete
