.home-container
  %ul.bxslider
    - @sliders.each do |slider|
      %li
        %img{:src => slider.image, title: slider.caption}
  .home-about
    = render partial: 'about'
  .home-promotion-blocks
    .home-promotion-title
      = "Promotions"
    = render partial: 'promotion_blocks'

:javascript
  $(document).ready(function(){
    $('.bxslider').bxSlider({
      auto: true,
      autoControls: true
    });
  });
