#application-home-container
  .welcome-cleaning-department
    = render partial: 'welcome'
    = render partial: 'get_to_know'
  #home-promotion-blocks
    .home-promotion-title
      = "Latest Updates"
    = render partial: 'promotion_blocks'
