#bookings-index-container {
  .calendar-table {
    td {
      padding: 0;
      text-align: center;
    }

    .available{
      background-color: #5BC0DE;

      a {
        color: #5BC0DE;

        &:hover {
          color: #ffffff;
        }
      }
    }


  }
}
