#application-home-container{
  margin: 0;
  padding: 0 0 100px 0;


  #home-about{
    float: left;
    padding: 0;
    margin: 10px 0 10px 0;
  }

  #home-promotion-blocks{
    float: left;
    padding: 0;
    margin: 10px 0 10px 0;
    width: 100%;
  }
  .welcome-cleaning-department{
    margin: 50px 0 0 0;
    h2{
      text-align: center;
      font-size: 28px;
      font-family: 'robotobold';
    }
    .service{
      text-align: center;
      margin: 0 0 50px 0;
      .tip{
        @extend .tip-separate
      }
      .images-wrap{
        .one-time{
          margin-top: 20px;
        }
      }
      .desc-info{
        font-family: 'robotolight';
        color:#444444;
        font-size: 20px;
        margin: 20px 0;
      }
      .control{
        a{
          @extend .btn-custom-01
        }
      }
    }

    .get_to_know_us{
      .tip{
        @extend .tip-separate
      }
      .content-block{
        .bound{
          padding: 0 25px;
          width: 340px;
        }
        .block-image{
          &:after{
            content: '';
            background: url("bg_shadow.png") 15px -35px no-repeat;
            display: block;
            width: 100%;
            height: 10px;
            position: absolute;
          }
        }
        .block-title{
          font-family: 'robotobold';
          font-size: 16px;
          margin: 15px 0 15px 0;
          text-transform: uppercase;
        }
        .block-description{
          font-size: 15px;
          a.btn{
            margin-top: 15px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

.tip-separate{
  text-align: center;
  position: relative;
  background: url('line_1px.png') 0 repeat-x;
  margin: 15px 0;
  font-family: 'robotoregular';
  &:after{
    background:#e0e0e0;
    width: 100%;
    height: 1px;
    content: '';
  }
  span{
    background: #fff;
    font-size: 18px;
    padding: 0 30px;
    color: #662f57;
  }
}

.btn-custom-01{
  color: #ba2f95;
  border: 1px solid #cb8ab8;
  font-family: 'robotoregular';
  padding: 6px 18px;
  &:after{
    content: '';
    background: url("arrow_btn_01.png") 0px 0px no-repeat;
    display: inline-block;
    width: 5px;
    height: 8px;
    margin: 0px 0 0 5px;
  }
  &:hover{
    background: #ba2f95;
    color: #fff;
    &:after{
      background: url("arrow_btn_white_01.png") 0px 0px no-repeat;
    }
  }
}
