#application-home-container{
  float: left;
  margin: 0;
  padding: 0;

  #home-slider{
    float: left;
    margin: 150px 0 100px 0;
    padding: 0;

    .bxslider{
      padding: 0;

      li{
        width: 1170px !important;
      }
    }
    .bx-clone {
      display: none !important;
    }
  }

  #home-about{
    float: left;
    padding: 0;
    margin: 10px 0 10px 0;
  }

  #home-promotion-blocks{
    float: left;
    padding: 0;
    margin: 10px 0 10px 0;
    width: 100%;
  }
}
